<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
</head>
<body>
    <h1><%= title %></h1>

    <%if (error == 'dialogs_not_found') { %>
        <p>Dialogs not found.</p>
        <p>Please, <a href="/dialogs/new">create new dialog</a>.</p>
    <% } %>
    <% if (error == 'int_not_found') { %>
        <p>Interlocutor is not found.</p>
    <% } %>

    <%if (error == 'all') { %>

    <% } %>

    <%if (error == 'dialog') { %>
        <div id="dialog" data-dialog="<%=dialog._id%>">
            <div class="wrap3">
                <%if (messages.length) { %>

                <% } %>
            </div>
        </div>
        <div id="write_wrapp">
            <textarea id="im_textarea" class="im_textarea"></textarea>
            <button class="button" onclick="IM.send(this);">Отправить</button>
        </div>
    <% } %>
</body>
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
<script src="http://<%=io%>:3001/socket.io/socket.io.js"></script>
<script src="/javascripts/node.js"></script>
<script src="/javascripts/im.js"></script>
<script>Node.init('<%=io%>'); IM.connect();</script>
</html>