<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/css/style.css' />
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
</head>
<body>
    <h1><%= title %></h1>

    <%if (error == 'dialogs_not_found') { %>
        <p>Dialogs not found.</p>
        <p>Please, <a href="/dialogs/new">create new dialog</a>.</p>
    <% } %>
    <% if (error == 'int_not_found') { %>
        <p>Interlocutor is not found.</p>
    <% } %>

    <%if (error == 'all') { %>

    <% } %>

    <%if (error == 'dialog') { %>
        <div class="wrapper">
            <div class="dialog_wrap">
                <div id="dialog" class="dialog" data-dialog="<%=dialog._id%>">
                    <div class="wrap3">
                        <div class="wrap4">
                            <%if (messages) { %>
                                <%messages.forEach(function(message) {  %>
                                    <div id="message_<%=message._id%>"><%=message.text%></div>
                                <% }); %>
                            <% } %>
                        </div>
                    </div>
                </div>
                <div id="write_wrapp" class="write_wrapp">
                    <textarea id="im_textarea" placeholder="Сообщение" class="im_textarea"></textarea>
                    <button class="button" onclick="IM.send(this);">Отправить</button>
                </div>
            </div>
            <div class="user_list_wrap">
                <ul class="user_list"></ul>
            </div>
        </div>
    <% } %>

    <%if (error == 'dialogs') { %>
        <div id="all_dialogs">
            <%if (Object.keys(dialogs).length) { %>
                <%dialogs.forEach(function(dialog) {  %>
                    <div id="dialog_<%=dialog._id%>"><a href="/dialogs/<%=dialog._id%>"><%=new Date(dialog.timestamp * 1000)%></a></div>
                <% }); %>
            <% } %>
            <p>Please, <a href="/dialogs/new">create new dialog</a>.</p>
        </div>
    <% } %>
</body>
<script src="http://localhost:3000/socket.io/socket.io.js"></script>
<script src="/javascripts/node.js"></script>
<script src="/javascripts/im.js"></script>
<script>Node.init('http://localhost'); IM.connect();</script>
</html>